<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="styles.css">
    <title>Serverless Email</title>
</head>
<body>
    <section id="app">
        <form class="ui form" id="contactForm">
            <h1>{{title}}</h1>
            <div class="field" v-bind:class="{ error: name.error }">
              <label>Name</label>
              <input id="name" type="text" name="name" v-model="name.value" required>
              <div class="error-message">{{ name.errorMessage }}</div>
            </div>
            <div class="field" id="email" v-bind:class="{ error: email.error }">
              <label>Email</label>
              <input type="email" name="email" v-model="email.value" required>
              <div class="error-message">{{ email.errorMessage }}</div>
            </div>
            <div class="field" v-bind:class="{ error: message.error }">
                <label>Message</label>
                <textarea id="message" v-model="message.value" required>{{ message }}</textarea>
                <div class="error-message">{{ message.errorMessage }}</div>
              </div>
            <button class="ui button" type="submit" id="submit" @click.prevent="checkform">Submit</button>
            <div id="toast">{{ toast }}</div>
          </form>
    </section>
    <script type="text/javascript" src="main.js"></script>
</body>
</html>